@import "../../styles/bootstrap";
$primary-color: color("pink");
@import "~loaders.css/src/animations/line-scale-pulse-out.scss";

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: flex;
}

.page-loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.3);
}
