.module {
  display: block;
}

.module--testimonial {
  padding: 50px 0;
  border-bottom: 2px solid #EFEFEF;

  &:last-child {
    border-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
    color: #666666;
  }
}
