// global

html,
body {
  height: 100%;
  background: $content-bg;

  scroll-behavior: smooth;
}

#__next {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layout {
  display: flex;
  overflow: scroll;
  flex: 1;
  flex-direction: column;
}

img {
  max-width: 100%;
}

button {
  outline: none !important;
}

a {
  transition: all 0.2s ease-out;
}

// mixins

$album-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
$album-box-shadow-hover: 2px 2px 0 0 rgba(0, 0, 0, 0.4);

@mixin content-box {
  transition: all 0.2s linear;
  border: 2px solid $gray-100;
  border-radius: 0;
  box-shadow: $album-box-shadow;
}

@mixin content-box-hover {
  transition: all 0.2s linear;
  border: 2px solid color('pink');
  box-shadow: $album-box-shadow-hover;
}

@mixin align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// content

.masthead,
.mastfoot {
  padding: 15px;
  border-bottom: 4px solid $gray-300;
  background: #fff;

  .container {
    display: flex;
    align-items: center;
  }
}

.mastfoot {
  border-top: 4px solid $gray-300;
  border-bottom: 0;

  .mastfoot-icon {
    margin-left: 15px;
  }

  h3 {
    margin: 0;
    letter-spacing: -1px;
    color: $gray-300;
    line-height: 1;
  }
}

.logo {
  margin: 0;
  line-height: 1;

  a {
    display: flex;
    align-items: center;
    letter-spacing: -2px;
    text-transform: lowercase;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;

    .headroom--scrolled & {
      font-size: 25px;
    }

    @include media('<md') {
      flex-wrap: wrap;
      font-size: 25px;
    }

    &:hover {
      text-decoration: none;
      span {
        color: #333;
      }
    }
  }
  figure {
    display: block;
    width: 175px * 0.75;
    height: 97px * 0.75;
    margin: 0 15px 0 0;
    background: transparent url('/static/releasewave-logo.svg') no-repeat scroll top left;
    background-size: contain;

    .headroom--scrolled & {
      transform: scale(0);
      width: 0px;
      height: 0px;
    }

    @include media('<md') {
      width: 175px * 0.25;
      height: 97px * 0.25;
      margin: 0 5px 0 0;
    }
  }

  span {
    display: flex;
    justify-content: center;
    color: #000;
    line-height: 1;
  }

  strong {
    display: block;
    color: color('pink');
  }
}

.page-intro {
  &__image {
    height: 300px;
    margin: 0 0 25px;
    background-position: center center;
    background-position: fixed;
    background-size: cover;
  }
}

// navigation

// dropdowns

@mixin nav-link {
  display: inline-block;
  padding: 5px 10px;
  user-select: none;
  transition: all 0.2s ease-out;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: lowercase;
  border: 0;
  background: $gray-100;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1;

  &:hover {
    color: #fff;
    background: color('pink');
    box-shadow: $album-box-shadow-hover;
  }
}

.primary-navigation,
.secondary-navigation {
  margin-left: auto;
  align-items: flex-end;
  justify-content: flex-end;

  @include media('>md') {
    @include align-center;
  }
  ul {
    margin: 0;

    @extend .list-unstyled;

    li {
      display: inline-block;
      margin: 0 15px;
    }
  }

  a {
    text-transform: lowercase;
  }
}

.primary-navigation {
  .dropdown-header {
    color: #000;
    font-family: $font-family-sans-serif;
    font-weight: normal;
  }

  .dropdown-toggle {
    @include nav-link;
  }

  .dropdown-menu {
    @include content-box;
    border: 0;
  }
  .dropdown-btn {
    @include nav-link;
    letter-spacing: 0;
    text-transform: none;
  }
  > ul {
    @include media('<md') {
      display: none;
    }

    > li {
      > a {
        @include nav-link;
      }
    }
  }
}

// vendor

.bm-item {
  &:focus {
    outline: none !important;
  }
}

// forms

.webform {
  &__error {
    padding: 15px;
    border: 1px solid red;
  }
}

.form-feedback {
  margin: 5px 0 10px;
  padding: 5px;
  border: 1px solid red;
  font-size: 12px;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: 3px solid #efefef;
}

// modals

.modal-content {
  @include content-box;
  background-clip: unset;
}

.modal-body {
  padding: 30px;
}

.modal-footer {
  p {
    margin-bottom: 0;
  }
}

// admin dash

.admin-dashboard {
  padding: 50px 0;

  @include media('<lg') {
    padding: 15px;
  }

  @extend .container;

  > div {
    @include make-row;
  }

  aside,
  main {
    @include make-col-ready;
  }

  aside {
    padding-bottom: 20px;

    .is-active {
      @extend .active;
    }
  }

  // aside {
  //   @include make-col(12);

  //   @include media(">lg") {
  //     @include make-col(2);
  //   }
  // }

  main {
    @include make-col(12);

    @include media('>lg') {
      @include make-col(12);
    }
  }

  // aside> ul {
  //   margin: 0;

  //   @extend .list-unstyled;

  //   li {
  //     margin: 0 0 15px;

  //     a {
  //       @extend .btn;
  //       @extend .btn-info;
  //       @extend .btn-sm;
  //       @extend .btn-block;

  //       &.is-active {
  //         @extend .disabled;
  //       }
  //     }
  //   }
  // }
}

.admin-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid $gray-300;

  > button {
    margin-left: auto;
  }
}

// overrides

.btn {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);

  &:focus,
  &:active,
  &:hover {
    outline: none !important;
    box-shadow: none !important;
  }
}

// pages

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

  .container > div {
    @include make-row;
  }

  .container > div > aside,
  .container > div > main {
    @include make-col-ready;
  }

  .container > div > aside {
    @include make-col(4);
    @include content-box();
    padding: 30px;
    background: #fff;
  }

  .container > div > main {
    @include make-col(12);
  }
}

@mixin date-format {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $gray-600;
  font-size: 1rem;
  font-style: normal;
}

.release-page {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 100px 0 0;

  &__bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    content: '';
    transform: scale(1.2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    filter: grayscale(100%) blur(5px);
  }

  .container,
  .discussion {
    position: relative;
    z-index: 1;
  }

  .container {
    margin-bottom: 100px;
  }

  &__header {
    @include content-box;
    display: flex;
    align-items: flex-start;
    padding: 40px;
    background: #fff;

    @include media('<lg') {
      flex-wrap: wrap;
      padding: 20px;
    }

    h2 {
      margin: 0 0 30px;
      letter-spacing: -1px;
      font-size: 60px;
      line-height: 1.2;

      @include media('<lg') {
        font-size: 40px;
      }

      cite {
        display: block;
        width: 100%;
        color: $gray-500;
        font-size: 30px;
        font-weight: 200;
        font-style: normal;

        @include media('<lg') {
          font-size: 25px;
        }
      }
    }
  }

  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;

    @include media('<md') {
      padding-right: 0;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 0 0 auto;

    @include media('<lg') {
      order: -1;
      width: 100%;
      margin: 0 0 30px;
    }

    img {
      width: 100%;
      margin-bottom: 15px;

      @include media('<lg') {
        align-self: center;
        width: 50%;
      }
    }

    span {
      @include date-format;
    }
  }
}

.artist-link {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0 5px;
  font-size: 30px;
  line-height: 1;

  &__social {
    opacity: 0.5;
  }

  &:hover {
    .artist-link__social {
      opacity: 1;
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  margin: 25px 0 0 0;

  @extend .list-unstyled;

  li {
    position: relative;
    top: -3px;
    margin: 0 8px;
    transition: all 0.2s ease-out;
    opacity: 0.4;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }
    svg {
      max-width: 100%;
    }
  }
}

.discussion {
  flex: 1;
  margin: 0;
  padding: 50px 0;
  border-top: 3px solid $gray-200;
  background: $gray-300;

  h3 {
    margin: 0;
    letter-spacing: -1px;
    font-size: 35px;
    line-height: 1.2;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 40px;

    .btn {
      margin-left: auto;
    }
  }
}

.discussion-content {
  @include content-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 0 30px;
  padding: 30px;
  background: #fff;

  @include media('<lg') {
    flex-wrap: wrap;
  }

  &__img {
    align-self: flex-start;
    order: 2;
    width: 15%;
    margin-left: 50px;
    text-align: center;

    @include media('<lg') {
      width: 100%;
      margin: 0 0 25px;

      img {
        max-width: 50%;
      }
    }

    span {
      @include date-format;
      display: inline-block;
      margin-top: 20px;

      @include media('<lg') {
        display: block;
        width: 100%;
      }
    }
  }

  &__text {
    flex: 1;

    header {
      margin-bottom: 40px;
    }

    cite {
      @include date-format;
    }

    h3 {
      margin-bottom: 10px;

      @include media('<lg') {
        font-size: 24px;
        line-height: 30px;
      }
    }

    > div {
      @include media('<lg') {
        margin-bottom: 30px;
      }
    }
  }
}

.grid {
  display: grid;

  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.upcoming-releases {
  min-height: 500px; // avoid flicker
}

.upcoming-releases,
.featured-releases {
  @extend .list-unstyled;

  li {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 47%;
    margin: 0 1% 2%;
    position: relative;

    .featured-badge {
      transition: all 0.5s ease-out;
      position: absolute;
      right: 10px;
      top: 10px;
      color: $gray-300;
      border: 1px solid $gray-100;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      padding: 2px 5px;
      line-height: 1;
      // one
    }

    &:hover .featured-badge {
      color: color('pink');
      border: 1px solid color('pink');
    }

    @include media('<md') {
      width: 100%;
    }

    img {
      width: 120px;

      @include media('<md') {
        width: 100%;
      }
    }

    figure {
      margin: 0 25px 0 0;

      @include media('<md') {
        width: 100%;
        margin: 0 0 20px;
      }
    }

    .upcoming-release__description {
      margin: 15px 0;

      @include media('<md') {
        position: relative;
        overflow: hidden;
        max-height: 200px;
        text-overflow: ellipsis;
        font-size: 0.9rem;

        &:before {
          @include gradient-y(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 75%;
          content: '';
        }
      }
    }

    > a {
      @include content-box;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding: 20px;
      color: $gray-800;
      background: #fff;

      @include media('<md') {
        flex-wrap: wrap;
      }

      p {
        margin: 20px 0;
      }

      &:hover {
        @include content-box-hover();
      }

      span {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      cite {
        margin-top: auto;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $gray-500;
        font-family: $headings-font-family;
        font-size: 0.8rem;
        font-weight: 200;
        font-style: normal;
      }
    }

    strong {
      font-size: 26px;
      line-height: 1.2;
    }

    strong,
    em {
      display: block;
      font-family: $headings-font-family;
      font-style: normal;
    }
    em {
      display: block;
      margin: 10px 0 0;
      color: $gray-500;
      font-family: $font-family-sans-serif;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

.featured-releases-container {
  padding: 100px 0;
  background: #fff;

  > .container {
    display: flex;
    flex-direction: row;

    @include media('<lg') {
      flex-wrap: wrap;
    }
  }

  aside {
    width: 33%;
    padding: 0 30px;

    @include media('<lg') {
      width: 100%;
    }
  }

  main {
    width: 66%;

    @include media('<lg') {
      width: 100%;
    }
  }
}

.featured-releases {
  display: flex;
  flex-direction: column;
  padding: 0;

  li {
    width: 100%;

    img {
      width: 200px;
    }
  }
}

.artist-page {
  margin: 100px 0;
}

.artists-list {
  margin: 0;

  @extend .list-unstyled;
}

.artists-list-item {
  > a {
    @include content-box;
    background: #fff;
  }
}

// atoms

.large-heading {
  margin: 0 0 10px;
  letter-spacing: -2px;
  text-transform: lowercase;
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
}

.sub-heading {
  margin: 0 0 20px;
  padding: 0 0 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $gray-500;
  font-weight: 200;
}

.intro {
  margin: 100px 0 0;

  > div {
    @include make-row;

    > div {
      @include make-col-ready;
      @include make-col(6);
    }
  }
}

.intro-text {
  margin: 0 0 100px;
  font-size: 18px;
  line-height: 24px;

  span {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-500;
  }
}

.upcoming-releases-sidebar {
  h3 {
    margin: 0 0 30px;
    text-transform: uppercase;
    color: $gray-500;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
  }

  ul {
    margin: 0;

    @extend .list-unstyled;

    li {
      margin: 0 0 20px;
    }

    a {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 10px;
      color: $gray-800;

      span {
        flex: 1;
      }

      &:hover {
        background: $gray-100;

        cite {
          color: color('pink');
        }
      }

      cite {
        @include date-format;
        font-size: 12px;
      }

      figure {
        width: 75px;
        height: 75px;
        margin: 0 15px 0 0;
        background-size: cover;
      }

      h4 {
        margin: 0 0 5px;
        font-size: 18px;
        line-height: 1.2;

        small {
          display: block;
          margin: 5px 0 10px;
          color: $gray-600;
          font-family: $font-family-sans-serif;
        }
      }
    }
  }
}

.upcoming-releases-sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 30px;
  padding: 30px 0;
  border-bottom: 2px solid $gray-100;

  &:last-child {
    border-bottom: 2px solid $gray-100;
  }

  h3 {
    margin: 0 0 15px;
    padding: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
    color: color('pink');
    font-family: $headings-font-family;
    font-weight: bold;
  }

  button {
    box-shadow: none;
  }
}

.embeds {
  margin: 30px 0;

  > div {
    @include content-box;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin: 0 0 20px;
    padding: 20px;
    // padding-top: 56.25%;

    iframe {
      max-width: 100%;
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      // border: 0;
    }
  }
}

// vendor

.form-group .Cal__Container__root {
  width: 100% !important;
}

.rt-table {
  img {
    display: inline-block;
    max-width: 50px;
  }
}

.buttonWrapper {
  display: inline-block;
}

.button {
  width: 36px;
  height: 34px;
  padding-top: 5px;
  vertical-align: bottom;
  color: #ddd;
  border: 0;
  border-radius: 4px;
  background: #333;
  font-size: 18px;
}

.button svg {
  fill: #ddd;
}

.button:hover,
.button:focus {
  outline: 0; /* reset for :focus */
  background: #444;
}

.active {
  color: #6a9cc9;
}

.active svg {
  fill: #6a9cc9;
}

.editor {
  @include content-box;
  min-height: 300px;
  margin-bottom: 20px;
  padding: 20px;
  cursor: text;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fefefe;
}

.rdw-editor-toolbar {
  padding: 6px;
}

.rdw-fontfamily-wrapper,
.rdw-image-wrapper,
.rdw-embedded-wrapper,
.rdw-colorpicker-wrapper {
  display: none !important;
}

.menu-header {
  margin-bottom: 20px;
  padding: 25px;

  .logo {
    a {
      flex-wrap: wrap;
      justify-content: center;
    }
    figure {
      // margin: 0 auto 20px;
    }
  }
}

.slide-menu {
  ul {
    @extend .list-unstyled;
  }
  li {
    margin: 0 0 15px;
    font-family: $headings-font-family;
    font-size: 24px;
    line-height: 30px;
  }
  a {
    display: block;
    padding: 15px;
    border-bottom: 2px solid $gray-100;

    &:hover {
      color: #fff;
      background: color('pink');
    }
  }
}

.mobile-toggle {
  border: 0;
  background: 0;
  font-size: 30px;

  @include media('>md') {
    display: none;
  }

  svg {
    path {
      fill: color('pink');
    }
  }
}

.infinite-scroll-footer {
  > div {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    @extend .container;
  }
}

.purchase-link {
  margin-bottom: 15px;
}

// headroom

.headroom-wrapper {
  z-index: 10000;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.select-container {
  margin: 0 0 25px;
  display: flex;
  @include align-center();
}

.select-component {
  width: 100%;

  @include media('>md') {
    width: 25%;
  }
}

.select-component {
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  .select-component {
    &__control {
      border-radius: 0;
      min-height: 20px;
      font-size: 25px;
      font-family: $headings-font-family;
      font-weight: bold;
      &--is-focused {
        border: 1px solid color('pink') !important;
        box-shadow: none;
      }
    }
    &__value-container {
      padding: 5px 15px;
    }

    // css-z5z6cw select-component__option select-component__option--is-focused select-component__option--is-selected

    &__option {
      &--is-focused,
      &--is-selected {
        color: #fff;
        background-color: color('pink');
      }
    }
  }
}

.load-more-btn {
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid $gray-300;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  letter-spacing: 1px;
}
