@tailwind variants;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .box-item {
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: 'acta-display', 'Helvetica Neue', system-ui, sans-serif; */
  /* font-family: 'Helvetica Neue', system-ui, sans-serif;
  font-family: 'source-sans-pro', 'Helvetica Neue', system-ui, sans-serif; */
  /* font-family: 'ff-tisa-web-pro', 'Helvetica Neue', system-ui, sans-serif; */
  /* font-family: 'droid-sans-mono', 'Helvetica Neue', system-ui, sans-serif; */
  /* font-family: 'jubilat', 'Helvetica Neue', system-ui, sans-serif; */
  font-weight: normal;
  /* font-family: 'Inter', 'Helvetica Neue', system-ui, sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

p {
  /* font-family: 'Mulish', 'Helvetica Neue', system-ui, sans-serif !important; */
}

*:focus,
button:focus,
a:focus {
  box-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply font-heading py-2 px-6 transition-all text-sm font-semibold uppercase;
}
.btn-sm {
  @apply py-2 px-6 transition-all text-xs font-semibold uppercase tracking-tighter;
}
.btn-primary {
  @apply bg-pink text-white hover:bg-pink-400 hover:scale-105;
}
.btn-secondary {
  @apply transition-all bg-gray-200 text-gray-700;
}
.btn-secondary:hover {
  @apply bg-gray-500 text-white;
}
.btn-blue:hover {
  /* @apply bg-blue-700; */
}

/* burger menu */
.bm-menu {
  @apply bg-white;
}

.bm-menu-list {
}

.bm-item.menu-item {
  @apply block;
}

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply transition-shadow;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: #ac1e8c;
    border-color: var(--tw-ring-color);
  }

  [type='checkbox'],
  [type='radio'] {
    color: #ac1e8c;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    --tw-ring-color: #e361c6;
  }

  button:focus,
  a:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    border-color: #e361c6;
    outline: none;
  }
}

/* headroom */
.headroom-wrapper {
  /* @apply overflow-hidden; */
}
