.Logo {
  line-height: 1;
  @apply m-0 self-center p-4 md:w-auto w-full;
}

.Logo h1 {
  @apply flex items-center justify-start text-4xl tracking-tighter;
  font-family: 'Inter', 'Helvetica Neue', system-ui, sans-serif;
}

.LogoWrapper {
  @apply hidden md:block w-full h-full md:relative p-1;
}

.Logo figure {
  @apply md:w-[131.25px] md:h-[72.75px] md:block mr-2;
  background: transparent url('/static/releasewave-logo.svg') no-repeat scroll
    top left;
  background-size: contain;
}

.LogoText {
  @apply text-black justify-center lowercase flex;
  line-height: 1;
}

.Logo strong {
  @apply text-pink block;
}
