.logo {
  line-height: 1;
  @apply m-0 self-center;
}

.logo h1 {
  @apply flex items-center text-4xl tracking-tighter;
  font-family: 'Inter', 'Helvetica Neue', system-ui, sans-serif;
}

.logo figure {
  display: block;
  width: 131.25px;
  height: 72.75px;
  margin: 0 15px 0 0;
  background: transparent url('/static/releasewave-logo.svg') no-repeat scroll
    top left;
  background-size: contain;
}

.logo span {
  justify-content: center;
  color: #000;
  line-height: 1;
  @apply lowercase flex;
}

.logo strong {
  display: block;
  @apply text-pink;
}
