.editor {
  box-sizing: border-box;
  margin-bottom: 2em;
  padding: 16px;
  cursor: text;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fefefe;
  box-shadow: inset 0px 1px 8px -3px #ababab;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  width: 36px;
  height: 34px;
  padding-top: 5px;
  vertical-align: bottom;
  color: #888;
  border: 0;
  background: #fbfbfb;
  font-size: 18px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}
